<div  class="dashTitle">
    <h1>{{first_name}}'s Pet Dashboard</h1>
</div>

<section class="addPet">
    <h3>Pets</h3>
    
    {{!-- https://codingyaar.com/bootstrap-5-modal-form/ --}}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-light nav-box-shadow" data-toggle="modal" data-target="#exampleModalCenter">Add a New Pet!</button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add Pet</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
                <form action="/api/pets/" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="pet_name">Pet Name</label>
                    <input type="text" name="pet_name" id="pet_name" class="form-control">
                        <br>
                    <label for="type">Pet Type</label>
                    <select name="type" id="type" class="form-control">
                        <option value="Dog">Dog</option>
                        <option value="Cat">Cat</option>
                        <option value="Bird">Bird</option>
                        <option value="Amphibian">Amphibian</option>
                        <option value="Reptile">Reptile</option>
                        <option value="Rodent">Rodent</option>
                        <option value="Exotic">Exotic - Anything Else</option>
                    </select>
                        <br>
                    <label for="gender">Pet Gender</label>
                    <select name="gender" id="gender" class="form-control">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                        <br>
                    <label for="special_skills">Special Skills</label>
                    <input type="text" name="special_skills" id="special_skills" class="form-control">
                        <br>
                    <label for="favorite_toy">Favorite Toy</label>
                    <input type="text" name="favorite_toy" id="favorite_toy" class="form-control">
                        <br>
                    <label for="upload_file">Upload an single image of your Pet</label>
                    <input type="file" class="form-control-file" name="uploaded_image">
                        <br>
                    <label for="owner_rating">Owner Rating</label>
                    <select name="owner_rating" id="owner_rating" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <input type="submit" class="btn btn-primary" value="Add Your New Pet">
                </div>
            </form>
            </form>
        </div>
    </div>
    </div>
</section>

<section class="m-4">
    {{!-- https://www.geeksforgeeks.org/bootstrap-5-cards-horizontal/ --}}
    {{#each apiData}}
    <div class="container d-flex mt-4 p-4 row flex-wrap">
        <div class="card mb-3 box-shadow" style="max: width 400px, object-fit: contain;">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="{{this.filename}}" class="img-fluid rounded-start" alt="{{this.pet_name}}">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{this.pet_name}}
                        </h5>
                       <ul>
                        <li>{{this.type}}</li>
                        <li>{{this.gender}}</li>
                        <li><b>Special Skills: </b>{{this.special_skills}} </li>
                        <li><b>Favorite Toy: </b>{{this.favorite_toy}}</li>
                        <li><b>Owner Rating: </b>{{this.owner_rating}}</li>
                       </ul>
                    </div>
                    <h5 class="text-center">All Users Average Rating: {{this.average}}</h5>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</section>