<div  class="dashTitle">
    <h1>{{first_name}}'s Pet Dashboard</h1>
</div>

<section class="addPet">
    <h3>Pets</h3>
    
    {{!-- https://codingyaar.com/bootstrap-5-modal-form/ --}}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalCenter">
    <i class="fa-solid fa-plus"></i>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add Pet</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Add Pet</button>
        </div>
        </div>
    </div>
    </div>
</section>

<section>
    {{!-- https://www.geeksforgeeks.org/bootstrap-5-cards-horizontal/ --}}
    <div class="container d-flex mt-4 p-4">
        <div class="card mb-3" style="max-width:540px;">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="/images/01-doxie.jpg"class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{pet_name}}
                        </h5>
                       <ul>
                        <li>{{pet_type}}</li>
                        <li>{{pet_gender}}</li>
                        <li>{{pet_skill}}</li>
                        <li>{{pet_toy}}</li>
                        <li>{{owner_rating}}</li>
                        <li>Others Rating</li>
                       </ul>
                    </div>
                </div>
            </div>
        </div>
</section>